
.asignatura-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  h1, h2 {
    color: #1e1e1e;
    margin-bottom: 10px;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }

  form input[id="codigo"] {
    width: 20%;
  }
  form input[id="nombre"] {
    width: 75%;
  }
  form input[id="nivel"], input[id="programa"] {
    width: 45%;
  }
  form input[id="descripcion"] {
    width: 100%;
  }


  form button {
    background-color: #e62133;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
  }
  
  form button:hover {
    background-color: #2980b9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #ecf0f1;
    margin-bottom: 10px;
    padding: 12px 16px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li button {
    margin-left: 10px;
    background-color: #3c8fe7;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 8px;
    cursor: pointer;
  }
  
  ul li button:hover {
    background-color: #2b5dc0;
  }
  
  ul li button:nth-child(2) {
    background-color: #e74c3c;
  }
  
  ul li button:nth-child(2):hover {
    background-color: #af3b2e;
  }
  