{% extends 'base.html' %}
{% load static %}

{% block title %}Asignaturas Matriculadas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/docente_asignaturas.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Consulta de Asignaturas</h1>

    <form method="get" action="{% url 'asignaturas_docente' %}" class="form-busqueda">
        {% csrf_token %}

        {% if is_admin %}
            <label for="docente_id">Identificacion del Docente:</label>
            <input type="text" name="docente_id" placeholder="Ej: 3" value="{{ request.GET.docente_id }}">
        {% elif is_docente %}
            <label for="docente_id">Identificacion:</label>
            <input type="text" name="docente_id" value="{{ user.identificacion }}" readonly disabled>
        {% else %}


        {% endif %}

        {% if is_admin %}
            <button type="submit">Buscar</button>
        {% endif %}
    </form>

    <br>

    {% if mostrar_resultados %}
        {% if Asignaciones %}
            <h2>Asignaturas Asignadas</h2>
            {% for Asignaciones in Asignaciones %}
            <div class="asignatura-card">
                <div class="asignatura-title">
                    {{ Asignaciones.asignatura.codigo }} - {{ Asignaciones.asignatura.nombre }}
                </div>
                <div class="asignatura-details">
                    <p><strong>Nivel:</strong> {{ Asignaciones.asignatura.nivel }}</p>
                    <p><strong>Descripción:</strong> {{ Asignaciones.asignatura.descripcion|default:"Sin descripción" }}</p>
            
                    
                    <a href="{% url 'listado_estudiantes' Asignaciones.asignatura.id %}" class="btn-inscritos">Inscritos</a>

                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="no-asignaturas">No se encontraron asignaturas matriculadas para este ID.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}