{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unicorsalud | {% block title %} {% endblock %}</title>
        {% block styles %} {% endblock %}
        <link rel="stylesheet" href="{% static 'styles/global.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body>        
        <div class="sidebar">
            <div class="avatar-container">
                <div class="avatar">
                    {{ user.username|slice:":1"|upper }}
                </div>
                <h5>
                    {{ user.first_name }} {{ user.last_name }}
                </h5>
            </div>

            <div class="sections">
                <a href="/">
                    <i class="far fa-chart-bar"></i>
                    <span>Dashboard</span>
                </a>
                <a href="{% url 'asignaturas_matriculadas' %}">
                    <i class="far fa-folder-open"></i>
                    <span>Asignaturas</span>
                </a>
                <a href="{% url 'ver_asignaturas_disponibles' %}">
                    <i class="fa-regular fa-clipboard"></i>
                    <span>Matriculas</span>
                </a>
                <a>
                    <i class="far fa-calendar-check"></i>
                    <span>Historial Académico</span>
                </a>
                
                <div id="gestion-academica" onclick="toggleSubMenu(this)" style="cursor: pointer;">
                    <a>
                        <i class="fa-regular fa-building"></i>
                        <span>Gestión Académica</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'programa_admin_view' %}">Programas</a>
                        <a href="{% url 'asignaturas_admin_view' %}">Asignaturas</a>
                        <a href="{% url 'asignar_asignatura_admin_view' %}">Asignación Docentes</a>
                        <a href="{% url 'usuarios_admin_view' %}">Usuarios</a>
                    </div>
                </div>
                <a href="" >
                    <i class="far fa-file-alt"></i>
                    <span>Reportes</span>
                </a>
            </div>

            <div class="logout-container">

                <a class="logout" href={% url 'exit' %}>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Salir</span>
                </a>
                <hr>
                <img class="landing" src="../static/img/fondoLogin.webp">

            </div>

        </div>
        
        <div class="no-mobile">
            No disponible en dispositivos móviles
        </div>


        {% block content %}

        {% endblock %}
        
    </body>
    <script src="{% static 'JS/base.js' %}"></script>
    <script src="https://kit.fontawesome.com/b5433eee80.js" crossorigin="anonymous"></script>
    
</html>